@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Nunito&display=swap');


body {
  background-color: #394867;
  
}

.espaco{
    color: #2F3C55;
}

#formFileLg {
    font-size: small!important;
}

#card {
    background-color:  #2F3C55;
    
}


#testevermelho {
    background-color:  red;
}

#testeverde {
    background-color:  green;
    color: green
    
}

#testeamarelo {
    background-color: yellow;
}

#red {
    color : #FF5252
}

#green {
    color : #0DE975
}

#dark-blue {
    color : #2F3C55
}

#light-blue {
    color : #263859
}

#yellow {
    color : #F2C94C
}


.form-control {
    background-color:  #394867;
}

.form-control:hover {
    background-color:  #6985bd;
}


.btn {
    background-color:  #394867;
}

#botao-jogo{
    font-weight: 600;
    font-size: 14px;
    width: 40px;
}

#botao-login{
    font-weight: 600;
    font-size: 9px;
    width: 85px;
    
}

#login {
    height: 40px;
    background-color: red;
}

#botao-login:hover span{
    color: white;
}

#texto-nav {
    font-size: 12px;
}

.botao-card {
    background-color: #536283;
    
}

.btn:hover {
    background-color:  #6985bd;
    
}

.apostas-ativo #botao-apostas-feitas {
    background-color:  #6985bd;
}

.apostas-ativo #botao-apostas-feitas i{
     color: white;
}

.btn:hover i{
    color: white;
    
}

.btn:selection {
    background-color: green;
}

.btn:hover #botao-jogo{
    color: white;
    
}

.btn-success {
    background-color:  #6985bd;
    color: white;
    outline-color: white;

}

.btn-success #botao-jogo{
    color: white;
    outline-color: white;

}

#controle-botao{
    display: none;
}

#controle-botao:checked{
    display: block;
}

#botao-jogo:checked{
    background-color: green;
    
}

#titulo {
    font-size: 18px;
}


p a:hover {
    color:  rgb(186, 193, 207);
}

p a {
    color: rgb(152, 158, 170)
}


.sub-menu a  {
    color: rgb(152, 158, 170);
    text-decoration: none;
}

.ativo-home-icon #home-icon{
    color: white;
}

.ativo-home-sub #home-sub{
    color: white;
}

.ativo-ligas-icon #ligas-icon{
    color: white;
}

.ativo-ligas-sub #ligas-sub{
    color: white;
}

.ativo-ranking-icon #ranking-icon{
    color: white;
}

.ativo-ranking-sub #ranking-sub{
    color: white;
}

.ativo-amigos-icon #amigos-icon{
    color: white;
}

.ativo-amigos-sub #amigos-sub{
    color: white;
}

.ativo:hover{
    color: white
}



#logo-login {
    max-width: 50%;
    height: auto;
}



.form-control:focus{
    background-color: #06061B;
}


#nav {
  background-color: #2F3C55;
  
}

#nav-login {
  background-color: #32405a;
  height: 47px;
  
}

.chip{
	padding: 8px 10px;
	border-radius: 10px;
	font-weight: 600;
	font-size: 12px;
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	margin: 0 10px;
	
	cursor: pointer;
}

.chip.primary{
	background: #F2C94C;
	color: white;
}

.chip.secondary{
	background: #979797;
	color: white;
}

.chip.terciary{
	background:#9D745A;
	color: whitesmoke;
}

.chip.comum{
	background:whitesmoke;
	color: gray;
}

.sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}

.sub-menu .menu-title {
    color: #adb0bd;
    ;
}

i {
    color: #adb0bd;
}


#ficha-container {
    margin-bottom: 100px;
}

#jogos {
    margin-bottom: 275px;
}

#minimizar {
    background-color: white;
}

#minimizar:hover {
    color :#838383;
}

#expandir {
    background-color: white;
}

#expandir:hover {
    color :#838383;
}



#deletar {
    background-color: white;
    color: #ffa6a6;
    padding-right: 13px;
    padding-top: 0px;
    padding-bottom: 0px;
    
}

#jogo-ficha:hover #deletar{
    color : #FF5252;
}


#total-ficha {
    padding-right: 45px;
}

#logo-time {
    width: 96px;
    height: auto;
    min-width: 75px;
    
    
}

#card-jogo{
    background-color:  #394867
}

#card-jogo:hover{
    background-color:  #3d4d6e
}

#botao-aposta {
    background-color : #67c894;
    color: black;
    margin-right: 14px;
    font-size: 12px;
    
}

#botao-aposta:hover{
    background-color : #356b4e;
    color: white;
    
}

#selections {
    font-size: 12px;
}











#select-jogador-1 {

            font-size: 10px;
           
            background-color: #536283;
            border: none;
            border-radius: 4px;
            
            width: 125px;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
        }

        #select-jogador option {
            background-color: #394867;
        }

#select-jogador-2 {

            font-size: 10px;
           
            background-color: #536283;
            border: none;
            border-radius: 4px;
            
            width: 125px;

            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            cursor: pointer;
        }

        #select-jogador option {
            background-color: #394867;
        }

#select-jogador-label {
    font-size: 10px;
}



#botao-apostas-feitas {
    margin-right: 6px;
}

.btn-nav-top {
    width: 60px;
}






.ticket {
	 position: relative;
	 box-sizing: border-box;
	 width: 300px;
	 height: 450px;
	 margin: 150px auto 0;
	 padding: 20px;
	 border-radius: 10px;
	 background: #fbfbfb;
	 box-shadow: 2px 2px 15px 0px #ab9b0d;
}
 .ticket:before, .ticket:after {
	 content: '';
	 position: absolute;
	 left: 5px;
	 height: 6px;
	 width: 290px;
}
 .ticket:before {
	 top: -5px;
	 background: radial-gradient(circle, transparent, transparent 50%, #fbfbfb 50%, #fbfbfb 100%) -7px -8px / 16px 16px repeat-x;
}
 .ticket:after {
	 bottom: -5px;
	 background: radial-gradient(circle, transparent, transparent 50%, #fbfbfb 50%, #fbfbfb 100%) -7px -2px / 16px 16px repeat-x;
}
 .ticket__content {
	 box-sizing: border-box;
	 height: 100%;
	 width: 100%;
	 border: 6px solid #d8d8d8;
}
 .ticket__text {
	 width: 400px;
	 font-family: 'Helvetica', 'Arial', sans-serif;
	 font-size: 3rem;
	 font-weight: 900;
	 text-transform: uppercase;
	 color: #c6dede;
	 transform: translate(-25px, 25px) rotate(-55deg);
}
 
        